---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="More about me"
	pubDate={new Date("02/02/2024")}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		My name's Tim.
	</p>
	<p>
		I'm a software developer based in Cambridge, in the UK.
	</p>
</Layout>
