---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Tim's Website</h1>
			<p>Hello!</p>
			<p>Thanks very much for visiting my website.</p>
			<p>
				To find out more about me, follow the "about" link in the header, or you can
				follow the "blog" link to read my blog posts.
			</p>
			<p>
				There are also some social media links dotted around!
			</p>
		</main>
		<Footer />
	</body>
</html>
